<nav class="site-header">
    <a class="site-header-action" href="/">Home</a>
    <a class="site-header-action" href="/posts">Posts</a>
    <a class="site-header-action" href="/accounts">Accounts</a>
    <a class="site-header-action" href="/followers">Followers</a>
    <a class="site-header-action" href="/following">Following</a>
    <a class="site-header-action" href="/dates">Dates</a>
    <a class="site-header-action" href="/hashtags">Hashtags</a>
    <a class="site-header-action" href="/fake">Fake Friends</a>
</nav>